*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: rgb(63, 146, 63);
    color: white;
}
.searchBar{
    background-color: aqua;
} 

 #inputField { 
    padding: 10px;
    margin: 20px;
} 

#category{
    padding: 20px;
    width: 80%;
    margin-left: 5px;
    font-size: 18px;
}
.btnbtn-primary{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 25%;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.row{
    display: flex;
    
}
.cols6{
    border: 4px solid greenyellow; 
    width: 700px; 
    height: 400px; 
    margin: 10px;
    text-align: center;
}
#food-list{
    height: 600px;
    margin: auto;
}
#recipe{
    height: 600px;
    margin: auto;
}
#map{
    margin: 30px auto;
}
#video{
    margin: 30px auto;
}

#dbPictureSlide{
    width:900PX;
   /* border: 1px solid rgb(255, 106, 0);*/
    border-radius: 12px;
    margin: 150px auto;
    height: 650px;
    padding-left:0px;
    display:block;
}


img.dbPictureSlide{
    /*width:20%;
    height:280px;
    display:inherit;*/
    position: relative;
    float: left;
    width:  100px;
    height: 500px;
    background-position:50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

/* stylyzing the youtube video JS */
.youtube-video{
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.footer {
    background-color: greenyellow;
    font-weight: bolder;
}